			<div id="iconContainer">

				<div id="salaryCategory" class="category">
					Salary
					<br>
					<a href="salary">
						<i id="salary" class="fa fa-usd fa-3x icon" aria-hidden="true"></i>
					</a>
				</div>

				<div id="educationCategory" class="category">
					Education
					<br>
					<a href="education">
						<i id="education" class="fa fa-graduation-cap fa-3x icon" aria-hidden="true"></i>
					</a>
				</div>

				<div id="skillsCategory" class="category">
					Skills
					<br>
					<a href="skills">
						<i id="skills" class="fa fa-clipboard fa-3x icon" aria-hidden="true"></i>
					</a>
				</div>

				<div id="careerOutlookCategory" class="category">
					Career Outlook
					<br>
					<a href="outlook">
						<i id="careerOutlook" class="fa fa-sun-o fa-3x icon" aria-hidden="true"></i>
					</a>
				</div>

				<div id="worldOfWorkCategory" class="category">
					World of Work
					<br>
					<a href="world-of-work"
						<i id="worldOfWork" class="fa fa-globe fa-3x icon" aria-hidden="true"></i>
					</a>
				</div>

			</div>

			<div id="salaryDialog" class="dialog">
				<br>
				Average U.S. Salary (yearly)
				<br>
				$53,900
			</div>

			<div id="educationDialog" class="dialog">
				<br>
				Bachelor's Degree
				<br>
				4 years
			</div>

			<div id="skillsDialog" class="dialog">
				<br>
				Show Piechart
			</div>

			<div id="careerOutlookDialog" class="dialog">
				<br>
				Annual Employment Increase
			</div>

			<div id="worldOfWorkDialog" class="dialog">
				<br>
				World of Work Info
			</div>
