			<div id="fader"></div>

			<div id="signUpBox">
				<div id="signUpContent">
					<br>
					Sign Up
					<form action="/signup" method="post">
						<div class="signUpInfo">
							First Name
							<input type="text" class="signUpTextField" name="firstname"/>
						</div>
						<div class="signUpInfo">
							Last Name
							<input type="text" class="signUpTextField" name="lastname"/>
						</div>
						<div class="signUpInfo">
							Email
							<input type="text" class="signUpTextField" name="email"/>
						</div>
						<div class="signUpInfo">
							Password
							<input type="password" class="signUpTextField" name="password"/>
						</div>
						<div class="signUpInfo">
							Verify Password
							<input type="password" class="signUpTextField" name="verifypassword"/>
						</div>

						<div id="linkedinBox">
							<div id="linkedinButton">
							</div>
						</div>

						<input id="signUpButton" type="submit" value="Sign Up"/>

						<div id="switchToLoginBox">
						<div id="switchToLogin">
							Already a Member? Log In Now
						</div>
						</div>

						<i id="signUpCloseButton" class="fa fa-times fa-2x" aria-hidden="true"></i>
					</form>

				</div>
			</div>

			<div id="loginBox">
				<div id="loginContent">
					<br>
					Log In
					<form action="/login" method="post">
						<div class="loginInfo">
							Email
							<input type="test" class="loginTextField" name="email"/>
						</div>
						<div class="loginInfo">
							Password
							<input type="password" class="loginTextField" name="password"/>
						</div>
						<input id="loginButton" type="submit" value="Log In"/>
						<br>
						Forgot Password?
						<br>
						Remember Me <input type="checkbox">

						<div id="switchToSignUp">
							Create Your Free Account
						</div>

						<i id="loginCloseButton" class="fa fa-times fa-2x" aria-hidden="true"></i>
					</form>
				</div>
			</div>
			
			<div id="navibar">
				<div id="PASSION">
					<span style="color: red">PASSION</span>: (n.) the energizing love you have for your work, in which you are thoroughly absorbed and find deeply meaningful
				</div>

				<div id="mainButtons">
					<a href="/">
					<div id="home" class="navibutton">
						Home
					</div>
					</a>
					<a href="/profile">
					<div id="myProfile" class="navibutton">
						My Profile
					</div>
					</a>
                                        <a href="/browse">
						<div id="browse" class="navibutton">
							Browse
						</div>
					</a>
				</div>

                                <div id="searchCareer">
                                  <form action="/search" method="get">
                                    <input type="text" name="q" placeholder="Search careers">
                                  </form>
                                </div>

				<div id="signUpLogin" class="navibutton">
					Sign Up | Login
				</div>
			</div>
