/*******************************************************************************
   GLOBAL
********************************************************************************/

body {
	background-color: #EEEEEE;
	color: white;
	font-family: Lato, sans-serif;
	font-size: 20px;
        overflow-y: scroll;
}

.stop-scrolling {
  height: 100%;
}

.centered {
    text-align: center;
}

.box {
	margin: 0.5em;
        padding: 1em;
	background-color: white;
        border-radius: 2px;
        box-shadow: 0px 2px 2px #DDDDDD;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*******************************************************************************
   NAVIGATION BAR
********************************************************************************/

#navibar a {
	text-decoration: none;
	color: white;
}

#navibar a:link {
	text-decoration: none;
	color: white;
}

#navibar a:visited {
	text-decoration: none;
	color: white;
}

#navibar a:hover {
	text-decoration: none;
	color: white;
}

#fader {
	display: none;
	top: 0em;
	bottom: 0em;
	right: 0em;
	left: 0em;
	width: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 2;
}

#navibar {
	text-decoration: none;
	background-color: hsl(210, 60%, 70%);
	z-index: 1;
	font-size: 18px;
	vertical-align: center;
}

#PASSION {
	font-size: 14px;
	background-color: hsl(210, 60%, 70%);
	opacity: 0.8;
	line-height: 1;
	filter: alpha(opacity=80);
}

#mainButtons {
        margin: auto auto;
	text-align: center;
}

#signUpLoginColumn {
	margin: auto 0;
	text-align: right;
}

.navibutton {
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	vertical-align: center;
}

input.navibutton {
	background-color: hsl(210, 60%, 70%);
	color: white;
	font-family: "Lato, sans-serif", Avenir, sans-serif;
	border: none;
	font-size: 20px;
}

.navibutton:hover {
	cursor: pointer;
	background-color: hsl(210, 60%, 75%);
}

#searchBar {
    display: inline;
}

/*******************************************************************************
   SIGN UP
********************************************************************************/

#signUpBox {
	display: none;

	top: 6em;
	left: 50%;
	position: fixed;
	color: black;

	height: 21em;
	width: 20em;
	z-index: 3;
}

#signUpContent {
	color: black;
	background-color: white;
	height: auto;
        left: calc(50% - 11em);
	width: 20em;
	position: fixed;
	z-index: 3;
        padding: 1em;
}

.signUpTitle {
	color: #444444;
}

.signUpInfo label {
    color: #555555;
    font-weight: normal;
}

.signUpTextField, .signUpTextField:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-width: 2px;
}

#linkedinBox {
	height: 41px;
	width: 215px;
/*
	position: absolute;
	left: 50%;
	margin-top: 0.5em;
*/
}

#linkedinButton {
	background-image: url("/images/linkedindefault.png");
	height: 41px;
	width: 215px;
}

input#signUpButton {
/*
	font-family: Lato, sans-serif;
	font-size: 20px;
	height: 2em;
	width: 5em;
	position: absolute;
	margin-left: -2.5em;
	border: none;
	border-radius: 3px;

	background-color: hsl(210, 60%, 50%);
	color: white;

	bottom: 2em;
*/
	background-color: hsl(210, 60%, 50%);
        color: white;
        width: 100%;
        border-radius: 0;
        font-size: 20px;
}

input#signUpButton:hover {
/*
	background-color: hsl(210, 60%, 55%);
	cursor: pointer;
*/
}

input#signUpButton:active {
/*
	background-color: hsl(210, 60%, 60%);
*/
}

#signUpCloseButton {
	top: 0.1em;
	right: 0.1em;
	position: absolute;
	color: hsl(210, 60%, 50%);
}

#signUpCloseButton:hover {
	color: hsl(210, 60%, 55%);
	cursor: pointer;
}

#signUpCloseButton:active {
	color: hsl(210, 60%, 60%);
}

#linkedinButton:hover {
	background-image: url("/images/linkedinhover.png");
	cursor: pointer;
}

#linkedinButton:active {
	background-image: url("/images/linkedinactive.png");

}

#switchToLoginBox {
/*
	height: 1em;
	width: 17em;
	left: 50%;
	bottom: 1em;
	position: absolute;
*/
}

#switchToLogin {
/*
	height: 1em;
	width: 17em;
	margin-left: -8.5em;
*/
}

#switchToLogin:hover {
/*
	color: hsl(210, 60%, 55%);
	cursor: pointer;
*/
}

#switchToLogin:active {
/*
	color: hsl(210, 60%, 60%);
*/
}

.signUpOption {
	font-size: 14px;
}

/*******************************************************************************
   LOG IN
********************************************************************************/

#loginBox {
	display: none;

	top: 2em;
	right: 0.5em;
	position: fixed;
	color: black;

	height: 18em;
	width: 15em;
	z-index: 3;
}

#loginContent {
	color: black;
	background-color: white;
	padding: 1em;
/*	line-height: 2em;*/
	height: auto;
	width: 15em;
	position: fixed;
	z-index: 3;
}

.loginInfo {
/*
	width: 100%;
	text-align: left;
	margin-left: 1em;
	margin-right: 1em;
*/
}

.loginTextField {
/*
	width: 50%;
	margin-top: 1em;
	right: 2em;
	position: absolute;
*/
}
/*
#loginButtonBox {
	height: 2em;
	width: 5em;
	position: absolute;
	left: 50%;
	background-color: red;
}
*/

input#loginButton {
/*
	font-family: Lato, sans-serif;
	border: none;

	font-size: 20px;
	height: 2em;
	width: 5em;
	position: absolute;
	margin-left: -2.5em;

	border-radius: 3px;

	background-color: hsl(210, 60%, 50%);
	color: white;
*/
	background-color: hsl(210, 60%, 50%);
        color: white;
        width: 100%;
        border-radius: 0;
        font-size: 20px;
}

input#loginButton:hover {
/*
	background-color: hsl(210, 60%, 55%);
	cursor: pointer;
*/
}

input#loginButton:active {
/*
	background-color: hsl(210, 60%, 60%);
*/
}

#loginCloseButton {
	top: 0.1em;
	right: 0.1em;
	position: absolute;
	color: hsl(210, 60%, 50%);
}

#loginCloseButton:hover {
	color: hsl(210, 60%, 55%);
	cursor: pointer;
}

#loginCloseButton:active {
	color: hsl(210, 60%, 60%);
}

#switchToSignUp:hover {
	color: hsl(210, 60%, 55%);
	cursor: pointer;
}

#switchToSignUp:active {
	color: hsl(210, 60%, 60%);
}

.checkbox label {
    font-size: 14px;
}

.loginInfo label {
    color: #555555;
    font-weight: normal;
}

.loginTextField, .loginTextField:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-width: 2px;
}

.loginOption {
	font-size: 14px;
}


#fbTestBox {
/*
	position: absolute;
	height: 2em;
	width: 5em;
	margin-top: 0.5em;
*/
}

#fbTest {
/*
	font-family: Lato, sans-serif;
	border: none;

	font-size: 20px;
	height: 2em;
	width: 5em;
	position: absolute;
	margin-left: 5em;

	border-radius: 3px;

	background-color: hsl(210, 60%, 50%);
	color: white;
*/
}

#fbTest:hover {
/*
	background-color: hsl(210, 60%, 55%);
	cursor: pointer;
*/
}

#fbTest:active {
/*
	background-color: hsl(210, 60%, 60%);
*/
}