html, body {
	height: 100%;
        overflow-x: hidden;
}

.row-center-content {
	display: table;
	margin: 0 auto;
}

.row-with-margins {
	margin-top: 2em;
        margin-bottom: 2em;
}

#errorBox {
	z-index: 1000;
	top: 3em;
	position: absolute;
	left: 50%;
	height: 3em;
	width: 20em;
}

#errorMessage {
	z-index: 1000;
	background-color: hsl(0, 60%, 70%);
	color: white;
	font-size: 20px;
	position: absolute;
	height: 3em;
	width: 20em;
	margin-left: -10em;
	line-height: 3em;
	vertical-align: center;
}

#box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#navibar {
	flex: 0 1 auto;
}

#imageContainer {
	background-image: url("/images/sample.jpg");
	background-position: center center;
	background-size: cover;
	flex: 1 1 auto;
	text-align: center;
	height: 100%;
	width: 100%;
}

#mainImage {
	min-width: 1490px;
	min-height: 800px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

#goToProfile {
	display: table;
	width: auto;
	height: auto;
	background-color: white;
	filter: alpha(opacity=90);
	opacity: 0.9;
	padding: 0.5em 1em;
}

#goToProfileContent {
	display: table-cell;
	color: black;
	max-width: 10em;
	width: auto;
	height: auto;
	vertical-align: middle;
}

#goToProfileContent:hover {
	cursor: pointer;
	color: hsl(210, 60%, 50%);
}

#browseCareersHigher {
	display: table;
	width: auto;
	height: auto;
	background-color: white;
	filter: alpha(opacity=90);
	opacity: 0.9;
	padding: 0.5em 1em;
}

#browseCareersHigherContent {
	display: table-cell;
	color: black;
	max-width: 14em;
	width: auto;
	height: auto;
	vertical-align: middle;
}

#browseCareersHigherContent:hover {
	cursor: pointer;
	color: hsl(210, 60%, 50%);
}

#welcomeBox {
	display: table;
	width: auto;
	height: auto;
	background-color: white;
	filter: alpha(opacity=90);
	opacity: 0.9;
	padding: 1em;
}

#welcomeContent {
	display: table-cell;
	color: black;
	max-width: 20em;
	height: auto;
        width: auto;
	vertical-align: middle;
}

#freeAccount {
	display: table;
	width: auto;
	height: auto;
	background-color: white;
	filter: alpha(opacity=90);
	opacity: 0.9;
	padding: 0.5em 1em;
}

#freeAccountContent {
	color: black;
	max-width: 16em;
	height: auto;
	width: auto;
	vertical-align: middle;
}

#freeAccountContent:hover {
	cursor: pointer;
	color: hsl(210, 60%, 50%);
}

#browseCareers {
	display: table;
	width: auto;
	height: auto;
	background-color: white;
	filter: alpha(opacity=90);
	opacity: 0.9;
	padding: 0.5em 1em;
}

#browseCareersContent {
	display: table-cell;
	color: black;
	max-width: 14em;
	height: auto;
	width: auto;
	vertical-align: middle;
}

#browseCareersContent:hover {
	cursor: pointer;
	color: hsl(210, 60%, 50%);
}