#pageTitle {
    	text-align: center;
	color: hsl(210, 60%, 50%);
	font-size: 30px;
}

.content {
    margin: 0 15em;
}

a.video-link {
    color: blue;
}

a.video-link:visited {
    color: purple;
}

.search-result {
    text-align: left;
    margin: 1em 0;
}