#careerTitle {
	text-align: center;
	color: hsl(210, 60%, 50%);
	font-size: 25px;
	overflow: hidden;
}

#fullscreen-overlay{
	color: white;
	display: none;
	width: 100%;
	padding: 10px;
	background-color: black;
    opacity: .60; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    filter: alpha(opacity=50); /* IE lt 8 */
    -ms-filter: "alpha(opacity=50)"; /* IE 8 */
    -khtml-opacity: .50; /* Safari 1.x */
    -moz-opacity: .50; /* FF lt 1.5, Netscape */
}
