<!DOCTYPE HTML>
<html>
		<head>
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
			<script type="text/javascript" language="javascript" src="/static/careerOutlook.js"></script>
			<link type="text/css" rel="stylesheet" href="/static/careerOutlook.css">
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
			<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

			<title>
				PPP
			</title>
		</head>
		<body>

			<div id="fader"></div>


			<div id="loginBox">
				<div id="loginContent">
					<br>
					Log In
					<div class="loginInfo">
						Email
						<input type="text" class="loginTextField">
					</div>
					<div class="loginInfo">
						Password
						<input type="password" class="loginTextField">
					</div>

					<div id="loginButtonBox">
						<div id="loginButton">
							Log In
						</div>
					</div>

					<br>
					Forgot Password?
					<br>
					Remember Me <input type="checkbox">

					<i id="loginCloseButton" class="fa fa-times fa-2x" aria-hidden="true"></i>


				</div>
			</div>

			<div id="pageTitle">
				<br>
				Career Outlook
			</div>

			<div id="careerTitle">
				{{occupationTitle}}
			</div>

                        <div id="contents" class="container">

                          <div id="growthPercent" class="row">
                            <i id="growthPercentIcon" class="fa fa-sun-o fa-5x" aria-hidden="true"></i>
                            <p id="growthPercentText">{{percentChange}}</p>
                          </div>

                          <div id="outlookTable" class="row">
                            National Trends
                            <table class="table">
                              <tr>
                                <th rowspan="2">United States</th>
                                <th colspan="2">Employment</th>
                                <th rowspan="2">Percent Change</th>
                                <th rowspan="2">Projected Annual Job Openings</th>
                              </tr>
                              <tr>
                                <th>2014</th>
                                <th>2024</th>
                              </tr>
                              <tr>
                                <td>{{occupationTitle}}</td>
                                <td>{{currentEmployment}}</td>
                                <td>{{futureEmployment}}</td>
                                <td>{{percentChange}}</td>
                                <td>{{jobOpenings}}</td>
                            </table>
                          </div>
                        </div>

			<div id="navibar">
				<div id="PASSION">
					<span style="color: red">PASSION</span>: (n.) the energizing love you have for your work, in which you are thoroughly absorbed and find deeply meaningful
				</div>

				<div id="mainButtons">
					<a href="/">
					<div id="home" class="navibutton">
						Home
					</div>
					</a>
					<div id="myProfile" class="navibutton">
						My Profile
					</div>
					<div id="browse" class="navibutton">
						Browse
					</div>
				</div>

				<div id="signUpLogin" class="navibutton">
					Sign Up | Login
				</div>
			</div>
                        
                        {{> icons }}

		</body>
</html>
