<!DOCTYPE HTML>
<html>
		<head>
			{{> global_header }}
                        <script type="text/javascript" language="javascript" src="/static/icons.js"></script>
                        <link type="text/css" rel="stylesheet" href="/static/icons.css">
			<script type="text/javascript" language="javascript" src="/static/education.js"></script>
			<link type="text/css" rel="stylesheet" href="/static/education.css">

			<!-- For chart -->
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/data.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>

			<title>
				PPP
			</title>
		</head>
		<body>
			{{#if loggedIn}}
        		{{> navbarlogout }}
    		{{else}}
        		{{> navbar}}
    		{{/if}}

                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <div class="box">
			        <div id="pageTitle">
				  Education
			        </div>
			        <div id="careerTitle">
				  {{occupationTitle}}
			        </div>

			        <div id="contentContainer">
				  <div class="educationLine">
				    <div class="educationCategory">
				      Type of School:
				    </div>
				    <div id="typeOfSchool" class="educationValue">
				    {{typeOfSchool}}
				    </div>
				  </div>
                                  
				  <div class="educationLine">
				    <div class="educationCategory">
				      Type of Degree:
				    </div>
				    <div id="typeOfDegree" class="educationValue">
				    {{typeOfDegree}}
				    </div>
				  </div>
                                  
				  <div class="educationLine">
				    <div class="educationCategory">
				      Years in School:
				    </div>
				    <div id="yearsInSchool" class="educationValue">
				    {{yearsInSchool}}
				    </div>
				  </div>

			          <!--
				      <div class="educationLine">
				        <div class="educationCategory">
				          Other Information:
				        </div>
				        <div class="educationValue">
				          Teaching Credential
				        </div>
				      </div>
				      -->
                    </div>

                    <div id="medianSalary">{{medianSalary}}</div>
                    <div id="yearsInSchoolInfo">{{yearsInSchoolInfo}}</div>
                    <div id="costPerYear">{{costPerYear}}</div>

		                <div id="chartContainer" style="width: 450px; height: 450px; margin: 0 auto"></div>
                              </div>
                            </div>
                            <div class="col-md-2">
			      {{> icons }}
                            </div>
			</div>
		</body>
</html>
