<!DOCTYPE HTML>
<html>
		<head>
			{{> global_header }}
                        <script type="text/javascript" language="javascript" src="/static/icons.js"></script>
                        <link type="text/css" rel="stylesheet" href="/static/icons.css">
			<script type="text/javascript" language="javascript" src="/static/education.js"></script>
			<link type="text/css" rel="stylesheet" href="/static/education.css">

			<!-- For chart -->
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/data.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>

			<title>
				PPP
			</title>
		</head>
		<body>
			{{#if loggedIn}}
        		{{> navbarlogout }}
    		{{else}}
        		{{> navbar}}
    		{{/if}}

                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-9 col-md-offset-1">
                              <div class="box">
			        <div id="pageTitle">
				  Education
			        </div>
			        <div id="careerTitle">
				  {{occupationTitle}}
			        </div>

			        <div id="contentContainer">
				  <div class="educationLine">
				    <div class="educationCategory">
				      Type of School:
				    </div>
				    <div id="typeOfSchool" class="educationValue">
				    {{typeOfSchool}}
				    </div>
				  </div>
                                  
				  <div class="educationLine">
				    <div class="educationCategory">
				      Type of Degree:
				    </div>
				    <div id="typeOfDegree" class="educationValue">
				    {{typeOfDegree}}
				    </div>
				  </div>
                                  
				  <div class="educationLine">
				    <div class="educationCategory">
				      Years in School:
				    </div>
				    <div id="yearsInSchool" class="educationValue">
				    {{yearsInSchool}}
				    </div>
				  </div>

			          <!--
				      <div class="educationLine">
				        <div class="educationCategory">
				          Other Information:
				        </div>
				        <div class="educationValue">
				          Teaching Credential
				        </div>
				      </div>
				      -->
                    </div>

                    <div id="careerInformation">
                    	<div id="yearsInUndergrad">{{yearsInUndergrad}}</div>
                    	<div id="yearsInGrad">{{yearsInGrad}}</div>

                    	<table id="undergradTable">
                    		<tr> <!--public-->
                    			<td>9410</td>
                    			<td>10138</td>
                    			<td>19548</td>
                    		</tr>
                    		<tr> <!--private-->
                    			<td>32405</td>
                    			<td>11516</td>
                    			<td>43921</td>
                    		</tr>
                    	</table>

                    	<table id="gradTable">
                    		<tr> <!--public-->
                    			<td>10725</td>
                    		</tr>
                    		<tr> <!--private-->
                    			<td>22607</td>
                    		</tr>
                    	</table>

                    	<table id="careerTable">
                    		<tr><td>{{NATLo}}</td><td>{{NATMed}}</td><td>{{NATHi}}</td></tr> <!-- -->
                    		<tr><td>{{ALLo}}</td><td>{{ALMed}}</td><td>{{ALHi}}</td></tr> <!-- -->
                    		<tr><td>{{AKLo}}</td><td>{{AKMed}}</td><td>{{AKHi}}</td></tr> <!-- -->
                    		<tr><td>{{AZLo}}</td><td>{{AZMed}}</td><td>{{AZHi}}</td></tr> <!-- -->
                    		<tr><td>{{ARLo}}</td><td>{{ARMed}}</td><td>{{ARHi}}</td></tr> <!-- -->
                    		<tr><td>{{CALo}}</td><td>{{CAMed}}</td><td>{{CAHi}}</td></tr> <!-- -->
                    		<tr><td>{{COLo}}</td><td>{{COMed}}</td><td>{{COHi}}</td></tr> <!-- -->
                    		<tr><td>{{CTLo}}</td><td>{{CTMed}}</td><td>{{CTHi}}</td></tr> <!-- -->
                    		<tr><td>{{DELo}}</td><td>{{DEMed}}</td><td>{{DEHi}}</td></tr> <!-- -->
                    		<tr><td>{{DCLo}}</td><td>{{DCMed}}</td><td>{{DCHi}}</td></tr> <!-- -->
                    		<tr><td>{{FLLo}}</td><td>{{FLMed}}</td><td>{{FLHi}}</td></tr> <!-- -->
                    		<tr><td>{{GALo}}</td><td>{{GAMed}}</td><td>{{GAHi}}</td></tr> <!-- -->
                    		<tr><td>{{HILo}}</td><td>{{HIMed}}</td><td>{{HIHi}}</td></tr> <!-- -->
                    		<tr><td>{{IDLo}}</td><td>{{IDMed}}</td><td>{{IDHi}}</td></tr> <!-- -->
                    		<tr><td>{{ILLo}}</td><td>{{ILMed}}</td><td>{{ILHi}}</td></tr> <!-- -->
                    		<tr><td>{{INLo}}</td><td>{{INMed}}</td><td>{{INHi}}</td></tr> <!-- -->
                    		<tr><td>{{IALo}}</td><td>{{IAMed}}</td><td>{{IAHi}}</td></tr> <!-- -->
                    		<tr><td>{{KSLo}}</td><td>{{KSMed}}</td><td>{{KSHi}}</td></tr> <!-- -->
                    		<tr><td>{{KYLo}}</td><td>{{KYMed}}</td><td>{{KYHi}}</td></tr> <!-- -->
                    		<tr><td>{{LALo}}</td><td>{{LAMed}}</td><td>{{LAHi}}</td></tr> <!-- -->
                    		<tr><td>{{MELo}}</td><td>{{MEMed}}</td><td>{{MEHi}}</td></tr> <!-- -->
                    		<tr><td>{{MDLo}}</td><td>{{MDMed}}</td><td>{{MDHi}}</td></tr> <!-- -->
                    		<tr><td>{{MALo}}</td><td>{{MAMed}}</td><td>{{MAHi}}</td></tr> <!-- -->
                    		<tr><td>{{MILo}}</td><td>{{MIMed}}</td><td>{{MIHi}}</td></tr> <!-- -->
                    		<tr><td>{{MNLo}}</td><td>{{MNMed}}</td><td>{{MNHi}}</td></tr> <!-- -->
                    		<tr><td>{{MSLo}}</td><td>{{MSMed}}</td><td>{{MSHi}}</td></tr> <!-- -->
                    		<tr><td>{{MOLo}}</td><td>{{MOMed}}</td><td>{{MOHi}}</td></tr> <!-- -->
                    		<tr><td>{{MTLo}}</td><td>{{MTMed}}</td><td>{{MTHi}}</td></tr> <!-- -->
                    		<tr><td>{{NELo}}</td><td>{{NEMed}}</td><td>{{NEHi}}</td></tr> <!-- -->
                    		<tr><td>{{NVLo}}</td><td>{{NVMed}}</td><td>{{NVHi}}</td></tr> <!-- -->
                    		<tr><td>{{NHLo}}</td><td>{{NHMed}}</td><td>{{NHHi}}</td></tr> <!-- -->
                    		<tr><td>{{NJLo}}</td><td>{{NJMed}}</td><td>{{NJHi}}</td></tr> <!-- -->
                    		<tr><td>{{NMLo}}</td><td>{{NMMed}}</td><td>{{NMHi}}</td></tr> <!-- -->
                    		<tr><td>{{NYLo}}</td><td>{{NYMed}}</td><td>{{NYHi}}</td></tr> <!-- -->
                    		<tr><td>{{NCLo}}</td><td>{{NCMed}}</td><td>{{NCHi}}</td></tr> <!-- -->
                    		<tr><td>{{NDLo}}</td><td>{{NDMed}}</td><td>{{NDHi}}</td></tr> <!-- -->
                    		<tr><td>{{OHLo}}</td><td>{{OHMed}}</td><td>{{OHHi}}</td></tr> <!-- -->
                    		<tr><td>{{OKLo}}</td><td>{{OKMed}}</td><td>{{OKHi}}</td></tr> <!-- -->
                    		<tr><td>{{ORLo}}</td><td>{{ORMed}}</td><td>{{ORHi}}</td></tr> <!-- -->
                    		<tr><td>{{PALo}}</td><td>{{PAMed}}</td><td>{{PAHi}}</td></tr> <!-- -->
                    		<tr><td>{{RILo}}</td><td>{{RIMed}}</td><td>{{RIHi}}</td></tr> <!-- -->
                    		<tr><td>{{SCLo}}</td><td>{{SCMed}}</td><td>{{SCHi}}</td></tr> <!-- -->
                    		<tr><td>{{SDLo}}</td><td>{{SDMed}}</td><td>{{SDHi}}</td></tr> <!-- -->
                    		<tr><td>{{TNLo}}</td><td>{{TNMed}}</td><td>{{TNHi}}</td></tr> <!-- -->
                    		<tr><td>{{TXLo}}</td><td>{{TXMed}}</td><td>{{TXHi}}</td></tr> <!-- -->
                    		<tr><td>{{UTLo}}</td><td>{{UTMed}}</td><td>{{UTHi}}</td></tr> <!-- -->
                    		<tr><td>{{VTLo}}</td><td>{{VTMed}}</td><td>{{VTHi}}</td></tr> <!-- -->
                    		<tr><td>{{VALo}}</td><td>{{VAMed}}</td><td>{{VAHi}}</td></tr> <!-- -->
                    		<tr><td>{{WALo}}</td><td>{{WAMed}}</td><td>{{WAHi}}</td></tr> <!-- -->
                    		<tr><td>{{WVLo}}</td><td>{{WVMed}}</td><td>{{WVHi}}</td></tr> <!-- -->
                    		<tr><td>{{WILo}}</td><td>{{WIMed}}</td><td>{{WIHi}}</td></tr> <!-- -->
                    		<tr><td>{{WYLo}}</td><td>{{WYMed}}</td><td>{{WYHi}}</td></tr> <!-- -->
                    	</table>

                    </div>

		            <div id="chartContainer" style="width: 450px; height: 450px; margin: 0 auto"></div>

		            <div id="input-container" class="row" style="display: table">
		                <div id="undergraduateInputs" class="col" style="display: table-cell">
		                	Undergraduate
		                	<div class="row inputRow" style="display: table">
		                		<select id="undergradPublicPrivateInput" class="col form-control chartOption" style="display: table-cell">
		                			<option value="public">Public In-State</option>
		                			<option value="private">Private Nonprofit</option>
		                		</select>
		                		<select id="undergradTuitionRoomBoardInput" class="col form-control chartOption" style="display: table-cell">
		                			<option value="tuition">Tuition</option>
									<option value="roomBoard">Room/Board</option>
									<option value="tuitionRoomBoard">Tuition, Room/Board</option>
		                		</select>
		                	</div>
		                	<div id="undergraduateCostDisplay"></div>
		                </div>


		                <div id="graduateInputs" class="col" style="display: table-cell">
		                	Graduate
		                	<div class="row inputRow" style="display: table">
		                		<select id="gradPublicPrivateInput" class="col form-control chartOption" style="display: table-cell">
		                			<option value="public">Public</option>
		                			<option value="private">Private</option>
		                		</select>
		                		<select class="col form-control chartOption" style="display: table-cell">
		                			<option value="tuition">Tuition</option>
		                		</select>
		                	</div>
		                	<div id="graduateCostDisplay"></div>
		                </div>

		                <div id="careerInputs" class="col" style="display: table-cell">
		                	Career
		                	<div class="row inputRow" style="display: table">
		                		<select class="col form-control chartOption" style="display: table-cell">
								    <option value="US">National Average</option>
								    <option value="AL">Alabama</option>
								    <option value="AK">Alaska</option>
								    <option value="AZ">Arizona</option>
								    <option value="AR">Arkansas</option>
								    <option value="CA">California</option>
								    <option value="CO">Colorado</option>
								    <option value="CT">Connecticut</option>
								    <option value="DE">Delaware</option>
								    <option value="DC">District Of Columbia</option>
								    <option value="FL">Florida</option>
								    <option value="GA">Georgia</option>
								    <option value="HI">Hawaii</option>
								    <option value="ID">Idaho</option>
								    <option value="IL">Illinois</option>
								    <option value="IN">Indiana</option>
								    <option value="IA">Iowa</option>
								    <option value="KS">Kansas</option>
								    <option value="KY">Kentucky</option>
								    <option value="LA">Louisiana</option>
								    <option value="ME">Maine</option>
								    <option value="MD">Maryland</option>
								    <option value="MA">Massachusetts</option>
								    <option value="MI">Michigan</option>
								    <option value="MN">Minnesota</option>
								    <option value="MS">Mississippi</option>
								    <option value="MO">Missouri</option>
								    <option value="MT">Montana</option>
								    <option value="NE">Nebraska</option>
								    <option value="NV">Nevada</option>
								    <option value="NH">New Hampshire</option>
								    <option value="NJ">New Jersey</option>
								    <option value="NM">New Mexico</option>
								    <option value="NY">New York</option>
								    <option value="NC">North Carolina</option>
								    <option value="ND">North Dakota</option>
								    <option value="OH">Ohio</option>
								    <option value="OK">Oklahoma</option>
								    <option value="OR">Oregon</option>
								    <option value="PA">Pennsylvania</option>
								    <option value="RI">Rhode Island</option>
								    <option value="SC">South Carolina</option>
								    <option value="SD">South Dakota</option>
								    <option value="TN">Tennessee</option>
								    <option value="TX">Texas</option>
								    <option value="UT">Utah</option>
								    <option value="VT">Vermont</option>
								    <option value="VA">Virginia</option>
								    <option value="WA">Washington</option>
								    <option value="WV">West Virginia</option>
								    <option value="WI">Wisconsin</option>
								    <option value="WY">Wyoming</option>
								</select>
		                		<select id="salaryPositionInput" class="col form-control chartOption" style="display: table-cell">
		                			<option value="low">Low Salary</option>
		                			<option value="median">Median Salary</option>
		                			<option value="high">High Salary</option>
		                		</select>
		                	</div>
		                	<div id="careerSalaryDisplay"></div>
		                </div>
		             </div> 

                              </div>
                            </div>
                            <div class="col-md-2">
			      {{> icons }}
                            </div>
			</div>
		</body>
</html>
