<!DOCTYPE HTML>
<html>
  <head>
    {{> global_header }}
    <link type="text/css" rel="stylesheet" href="/static/index.css">

    <title>
      PPP
    </title>
  </head>
  <body>

    <div id="box">
      {{#if loggedIn}}
      {{> navbarlogout }}
      {{else}}
      {{> navbar}}
      {{/if}}
      <div id="imageContainer" class="container-fluid">
<!--	<img id="mainImage" src="/images/sample.jpg"/> -->

	{{#if loggedIn}}
        <div class="row row-center-content row-with-margins">
	  <div id="goToProfile">
	    <a href="/profile">
	      <div id="goToProfileContent">
	        My Profile
	      </div>
	    </a>
          </div>
	</div>

        <div class="row row-center-content row-with-margins">
	  <div id="browseCareersHigher">
	    <a href="/browse">
	      <div id="browseCareersHigherContent">
	        Browse Careers Now
	      </div>
	    </a>
          </div>
	</div>
	{{else}}
        <div class="row row-center-content row-with-margins">
	  <div id="welcomeBox">
	    <div id="welcomeContent">
	      Welcome to Our Website!
              <br>
	      This website is designed to help you find a career that you can be passionate about.
	    </div>
	  </div>
        </div>

        <div class="row row-center-content row-with-margins">
	  <div id="freeAccount">
	    <div id="freeAccountContent">
	      Create Your Free Account
	    </div>
	  </div>
        </div>

        <div class="row row-center-content row-with-margins">
	  <div id="browseCareers">
	    <a href="/browse">
	      <div id="browseCareersContent">
	        Browse Careers Now
	      </div>
	    </a>
	  </div>
        </div>
	{{/if}}
      </div>
      {{#if success}}
      {{else}}
      <div id="errorBox">
        <div id="errorMessage">
          {{reason}}
        </div>
      </div>
      {{/if}}

      {{#if loginAttempt}}
      <div id="loginAttempt">
      </div>
      {{/if}}

      {{#if signUpAttempt}}
      <div id="signUpAttempt">
      </div>
      {{/if}}
    </div>
  </body>
</html>
