<!DOCTYPE HTML>
<html>
<head>
	{{> global_header }}
	<script type="text/javascript" language="javascript" src="/static/profile.js"></script>
	<link type="text/css" rel="stylesheet" href="static/profile.css">


	<title>
		PPP
	</title>
</head>
<body>
	{{#if loggedIn}}
        {{> navbarlogout }}
    {{else}}
        {{> navbar}}
    {{/if}}


	<div class="jumbotron">
		<h1>My Profile</h1>
	</div>

	<div class="row">
		<div class="col-md-6">
			<p></p>
			<strong><p> Careers I Like: </p></strong>
				<select class="form-control space120">
				    <option value="one">Special Education Teacher</option>
				    <option value="two">Middle School Teacher</option>
				    <option value="three">High School Teacher</option>
				    <option value="four">Community College Professor</option>
				</select>

				<p></p> 

			<strong><p> Careers I Don't Like: </p></strong>
				<select class="form-control space120">
				    <option value="entrepreneur">Entrepreneur</option>
				    <option value="accountant">Accountant</option>
				    <option value="software">Software Engineer</option>
				    <option value="psychologist">Psychologist</option>
				</select>

				<p></p>

			<strong><p> Careers I'm Unsure About: </p></strong>
				<select class="form-control">
				    <option value="musician">Musician</option>
				    <option value="police">Police officer</option>
				</select>
			
		</div>
		
		<div class="col-md-6">
			<strong> My World of Work Map </strong>
			<p></p>
			<img src="/images/wow.jpg" alt="World of Work" align="center" width="540px" height="auto">
		</div>
	</div>

<!-- 			<div>
				<h1> My Profile </h1>

			</div> -->


		</body>
		</html>
