<!DOCTYPE HTML>
<html>
		<head>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
			
			<!-- CanvasJS -->
<!-- 			<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

			<!-- For chart -->
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/data.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>

			<script type="text/javascript" language="javascript" src="/static/salary.js"></script>
			<link type="text/css" rel="stylesheet" href="/static/global.css">
			<link type="text/css" rel="stylesheet" href="/static/salary.css">
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
			<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

			<!-- BOOTSTRAP --> 
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>


			<link type="text/css" rel="stylesheet" href="static/salary.css">

			<title>
				PPP
			</title>
		</head>
		<body>
			{{#if loggedIn}}
        		{{> navbarlogout }}
    		{{else}}
        		{{> navbar}}
    		{{/if}}
    		{{> icons }}


			<div id="pageTitle">
				<br>
				Salary
			</div>

			<div id="careerTitle">
				{{occupationTitle}}
			</div>

			<p></p>

			<div class="container">
				<div>
					<div id="container" style="max-width: 500px; height: 400px; margin: 0 auto"></div>

					<table id="salaryTable" style="display: none;">
					    <thead>
					        <tr>
					            <th></th>
					            <th>Low Salary</th>
					            <th>Median Salary</th>
					            <th>High Salary</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr>
					            <th>{{occupationTitle}}</th>
					            <td>14000</td>
					            <td>{{medianAnnualWageUnformatted}}</td>
					            <td>75000</td>
					        </tr>
					    </tbody>
					</table>
				</div>

				<div class="input-container">
					<input type="text" class="form-control" placeholder="Enter ZIP code" aria-describedby="basic-addon1" >

					<button type="button" class="btn btn-primary">Go</button>
				</div>

<!-- 				<div class="row">
				  	<div class="form-group text-center">
					     <div class="col-xs-3">		  	  		

					        <input type="text" class="form-control" placeholder="Enter ZIP code" aria-describedby="basic-addon1">

					  	  	<button type="button" class="btn btn-primary">Go</button>
		     			</div>
					</div>
				</div>  -->

			</div>

			<!-- <div id="chartContainer" style="height: 300px; width: 100%;"></div> -->

		</body>
</html>
