<!DOCTYPE HTML>
<html>
		<head>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
			<script type="text/javascript" language="javascript" src="/static/salary.js"></script>
			<link type="text/css" rel="stylesheet" href="/static/global.css">
			<link type="text/css" rel="stylesheet" href="/static/salary.css">
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
			<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

			<title>
				PPP
			</title>
		</head>
		<body>
			{{#if loggedIn}}
        		{{> navbarlogout }}
    		{{else}}
        		{{> navbar}}
    		{{/if}}
    		{{> icons }}


			<div id="pageTitle">
				<br>
				Salary
			</div>

			<div id="careerTitle">
				Middle School Teacher
			</div>





		</body>
</html>
