<!DOCTYPE HTML>
<html>
		<head>
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
			<script type="text/javascript" language="javascript" src="/static/index.js"></script>
      <link type="text/css" rel="stylesheet" href="/static/global.css">
			<link type="text/css" rel="stylesheet" href="/static/search.css">
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

			<title>
				PPP
			</title>
		</head>
		<body>
			{{#if loggedIn}}
        {{> navbarlogout }}
      {{else}}
        {{> navbar}}
      {{/if}}

                        {{#if resultsEmpty}}
                        <div id="pageTitle">
                          <br>
                          No results for "{{query}}"
                        </div>
                        {{else}}
                        <div id="pageTitle">
                          <br>
                          Search results for "{{query}}"
                        </div>

                        <div class="container content">
                          {{#each results}}
                          <div class="row search-result">
                            <a class="video-link" href="/career/{{soc}}/video">
                              {{title}}
                            </a>
                            <br>
                            <div class="search-result-details">
                              {{#if wageTypeIsAnnual}}
                              <span title="Average annual salary">
                              {{else}}
                              <span title="Average hourly wage">
                              {{/if}}
                                <i class="fa fa-usd icon detail-icon" aria-hidden="true"></i>
                                <span class="detail-text">{{averageWage}}</span>
                              </span>
                              <span title="Education required">
                                <i class="fa fa-graduation-cap icon detail-icon" aria-hidden="true"></i>
                                <span class="detail-text">{{educationRequired}}</span>
                              </span>
                              <span title="Career growth">
                                <i class="fa fa-sun-o icon detail-icon" aria-hidden="true"></i>
                                <span class="detail-text">{{careerGrowth}}</span>
                              </span>
                            </div>
                          </div>
                          {{/each}}
                        </div>
                        {{/if}}
</html>
