<!DOCTYPE HTML>
<html>
		<head>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
			<script type="text/javascript" language="javascript" src="/static/worldOfWork.js"></script>
			<link type="text/css" rel="stylesheet" href="/static/global.css">
			<link type="text/css" rel="stylesheet" href="/static/worldOfWork.css">
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
			<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

			<!-- BOOTSTRAP --> 
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<link rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
			<link type="text/css" rel="stylesheet" href="static/worldOfWork.css">

			<title>
				PPP
			</title>
		</head>
		<body>
			{{#if loggedIn}}
            	{{> navbarlogout }}
        	{{else}}
        		{{> navbar}}
        	{{/if}}
			{{> icons }}


			<!-- PAGE CODE HERE -->

			<div id="pageTitle">
				<br>
				World of Work
				<p></p>
			</div>

			<div id="careerTitle">
				<p></p>
				<!--This should have worked but there's some issue -->
				<!--<img src="../public/images/wow.jpg" alt="World of Work" align="center"> -->

				<!--http://stackoverflow.com/questions/21235696/display-images-in-html-nodejs-->
				<!--Seems to be a temporary fix...Once it's off the localhost then this probably won't work-->
				<a href="#" data-toggle="tooltip" title="Middle School Teacher">
					<img src="http://localhost:8080/images/wow.jpg" alt="World of Work" align="center" width="540px" height="auto">
				</a>

			</div>


			


		</body>
</html>
