<!DOCTYPE HTML>
<html>
<head>
	{{> global_header }}
	<script type="text/javascript" language="javascript" src="/static/icons.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/icons.css">

	<script type="text/javascript" language="javascript" src="/static/worldOfWork.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/worldOfWork.css">

	<title>
		PPP
	</title>
</head>

<body>
	{{#if loggedIn}}
	{{> navbarlogout }}
	{{else}}
	{{> navbar}}
	{{/if}}

	<!-- PAGE CODE HERE -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-md-offset-1">
				<div class="box">

					<div id="pageTitle">
						<br>
						World of Work
						<p></p>
					</div>

					<div id="careerTitle">
						{{occupationTitle}}
						<p></p>

					<!-- http://stackoverflow.com/questions/15639726/how-to-set-canvas-on-top-of-image-in-html -->
					<div id="container">
						<a href="#" data-toggle="tooltip" title="Middle School Teacher">


							
								<img class='img' src="/images/wow.png" alt="World of Work" align="center" width="auto" height="auto">
							
							<canvas id="canvas" width="0px" height="0px"></canvas>
								
						</a>
					</div>


					</div>
				</div>
			</div>

			<div class="col-md-2">
				{{> icons }}
			</div>

		</div>
	</div>

</body>
</html>
